{
  "parser": "babel-eslint",
  "plugins": [
//    "react"
  ],
  "rules": {

  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "window": true, "require": true, "module": true, "document": true, "process": true
  }
}