.contacts {
  padding: 50px;
}

.contact-card {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid grey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  div:last-of-type {
    position: absolute;
    left: 300px;
    top: 10px;
  }
  button {
    position: absolute;
    right: 10px;
    top: 7px;
  }
  button:last-of-type {
    right: 70px;
  }
}